# Aufgaben Teil 3

Tipp: In der Menuleiste mit "Edit > Clear all Outputs" kannst du ein bisschen Übersicht schaffen, wenn viele Daten angezeigt werden.

## Pandas, again

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(font_scale=1.2, style="whitegrid", palette='magma')
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'numpy'

In [1]:
mpg = sns.load_dataset('mpg')
mpg.head(10)

NameError: name 'sns' is not defined

### Gruppierungen

Mit pandas kann man Daten Gruppieren und so Werte über bestimmte ähnliche Zeilen berechnen.

In [ ]:
mpg_cyl = mpg.groupby('cylinders')
mpg_cyl.first() # Gibt pro Gruppe den ersten Wert aus

In [ ]:
# Man kann über gruppen iterieren
for name, group in mpg_cyl:
  print(name)
  print(group.shape)

In [51]:
mpg_cyl_year = mpg.groupby(['cylinders', 'model_year']) # Kann auch nach mehreren Spalten gruppieren
mpg_cyl_year.first().head(10)

                       mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
3         72          19.0          70.0   99.250000    2330          13.5
          73          18.0          70.0   99.250000    2124          13.5
          77          21.5          80.0   99.250000    2720          13.5
          80          23.7          70.0   99.250000    2420          12.5
4         70          24.0         113.0   78.281407    2372          15.0
          71          27.0          97.0   78.281407    2130          14.5
          72          24.0         113.0   78.281407    2278          15.5
          73          26.0          97.0   78.281407    1950          21.0
          74          31.0          79.0   78.281407    1950          19.0
          75          29.0          97.0   78.281407    2171          16.0

                      origin                     name
cylinders model_year
3         72           japan          mazda rx2 coupe
          73           japan                maxda rx3
          77           japan               mazda rx-4
          80           japan            mazda rx-7 gs
4         70           japan    toyota corona mark ii
          71           japan             datsun pl510
          72           japan    toyota corona hardtop
          73          europe  volkswagen super beetle
          74           japan              datsun b210
          75           japan           toyota corolla

### Aufgaben

Bemerkung: `mpg` steht für den Verbrauch in "miles per gallon", höher ist besser. Werte in imperischen Einheiten, also pounds, gallons miles und cubic inches.

3.1. Verschaffe dir ein Bild des mpg-Datensets ähnlich "Tasks Part 2 Pandas". Das muss nicht gründlich sein.

3.2. Berechne den Durschnitt von `mpg` pro Anzahl Zylinder.

3.3. Erstelle eine Kopie des Dataframes, welches das Gewicht in kg anstatt lb hat. Tipp: 1 lb = 0.453 kg. Tipp 2: `dataframe['column'] = other_df['column']`. Tipp 3: `dataframe['column'] - 10` ist gültiger Code, probiere es mal aus.

3.4. Teile `mpg` in zwei Dataframes auf, eines mit der Spalte mpg und ein anderes mit allen anderen Spalten.

3.5. Verwende `groupby` und `for .. in ..` um folgendes zu berechnen: Was ist der Name des Autos mit dem höchsten Gewicht pro Jahr?

(Bonus 3.5.' Aufgabe 3.5. könnte man auch ohne `for .. in ..` lösen. Wie?)

3.6.a) Finde alle Zeilen mit NaN in `horsepower`

3.6.b) Berechne die durchschnittlichen `horspower` pro Anzahl Zylinder.

3.6.c) Erstelle eine Methode, die ein Dataframe nimmt und ein Dataframe zurückgibt, in welchem alle NaN-Werte in `horsepower` mit den Durschnittlichen `horspower` gruppiert nach Anzahl Zylinder ersetzt wurden. Tipp: Verwende die vorherigen Teilaufgaben und ein `for .. in ..` auf die Zeilen mit NaN. Es ist einfacher, nicht `fillna` zu verwenden, sondern das pro Zeile einzeln zu ersetzen.

In [ ]:
# Task 3.1 - Verschaffe dir ein Bild des mpg-Datensets ähnlich "Tasks Part 2 Pandas". Das muss nicht gründlich sein.
sns.load_dataset('mpg')

In [ ]:
# Task 3.2 - Berechne den Durschnitt von mpg pro Anzahl Zylinder
mpg.groupby('cylinders')['mpg'].mean()

In [ ]:
# Task 3.3
mpg_copy = mpg.copy()
mpg_copy['weight'] = mpg_copy['weight'] * 0.453
print(mpg_copy['weight'])

In [ ]:
# Task 3.4 - Teile mpg in zwei Dataframes auf, eines mit der Spalte mpg und ein anderes mit allen anderen Spalten.
mpg_split = mpg[['mpg']]
mpg_other = mpg.drop(columns=['mpg'])

print(mpg_split)
print(mpg_other)

In [2]:
# Task 3.5 - Verwende groupby und for .. in .. um folgendes zu berechnen: Was ist der Name des Autos mit dem höchsten Gewicht pro Jahr?
for year, group in mpg.groupby('model_year'):
    max_weight = group['weight'].idxmax()
    car_name = group.loc[max_weight, 'name']
    print("Jahr: ", year)
    print("Name: ", car_name)

NameError: name 'mpg' is not defined

In [ ]:
# Task 3.5 - Bonus: könnte man auch ohne for .. in .. lösen. Wie?
max_weight_per_year = mpg.groupby('model_year')['weight'].idxmax().apply(lambda x: mpg.loc[x, 'name'])
print(max_weight_per_year)

In [ ]:
# Task 3.6 a) - Finde alle Zeilen mit NaN in horsepower
nan_horsepower = mpg[mpg['horsepower'].isna()]
print(nan_horsepower)

In [ ]:
# Task 3.6 b) - Berechne die durchschnittlichen horspower pro Anzahl Zylinder.
mpg.groupby('cylinders')['horsepower'].mean()

In [ ]:
# Task 3.6 c) - V1.0
def replace_nan_with_avg(mpg):
    avg_horsepower_per_cylinders = mpg.groupby('cylinders')['horsepower'].mean()
    mpg_copy = mpg.copy()

    for index, row in mpg_copy.iterrows():
        if [mpg_copy['']]
        cylinders = row['cylinders']
        avg_horsepower = avg_horsepower_per_cylinders[cylinders]
        mpg_copy.at[index, 'horsepower'] = avg_horsepower

    return mpg_copy

mpg_with_replaced_horsepower = replace_nan_with_avg(mpg)
print(mpg_with_replaced_horsepower)

In [ ]:
# Task 3.6 c) - V2.0
def replace_nan_with_avg(mpg):
    avg_horsepower_per_cylinders = mpg.groupby('cylinders')['horsepower'].mean()

    for index, row in mpg.iterrows():
        if [mpg['horsepower'].isna()]:
            mpg.at[index, 'horsepower'] = avg_horsepower_per_cylinders[row['cylinders']]

    return mpg

result_mpg = replace_nan_with_avg(mpg)

print(result_mpg)